caption {
    font-size: 22px;
    font-family: monospace;
    text-align: center;
    /* color: black; */
}

table {
    font-size: 22px;
    font-family: monospace;
    border-collapse: collapse;
    margin: 0 auto;
    /* background-color: green; */
    /* color: white; */
}

tr,
th {
    padding-left: 15px;
    padding-right: 15px;
}

tr {
    border: 1px solid orange;
    text-align: center;
}
