caption {
    font-size: 1.4rem;
    font-family: monospace;
    text-align: center;
}

table {
    font-size: 1.8rem;
    font-family: monospace;
    border-collapse: collapse;
    margin: 2rem auto;
}

th,
td {
    padding: 0.35rem;
}

tr {
    border: 1px solid #1bb394;
    text-align: center;
}

th {
    background-color: #2f4050;
    color: white;
}

.focus {
    background-color: #1bb394;
    cursor: pointer;
    font-weight: bold;
}

.pageNumber {
    margin: 2px;
}